* {
	box-sizing: border-box;
}
body,html {
	margin: 0;

}
html {
	margin-left: 10px;	
	margin-right: 10px;
	padding-bottom: 40px;
	margin-top: 10px;
}
.popup,  {
	padding: 10px;

}
.planted {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	top: 0;
	padding: 2px;
	max-height: 150px;
}

h2 {
	color: green;
}